body{
    background-color: rgb(1, 0, 40);
    overflow: hidden;
}
.center_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100%;
    height: auto;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin-top: 70px;
}
.button_container{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button{
    font-size: 15px;
    padding: 15px;
    background-color: rgb(1, 0, 40);
    color: rgb(135, 245, 125);
    border-radius: 8px;
    border-color:rgb(135, 245, 125);
    width: 150px;
    height: 70px;
    margin-top: 10px;
}
