body{
    background-color: rgb(1, 0, 40);
    overflow: hidden;
}
.center_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100%;
    height: auto;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin-top: 70px;
}
button{
    font-size: 15px;
}
